<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <!--google fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Roboto+Mono:ital,wght@0,400;1,300&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
